{% extends "base.html" %}
{% block title %}Світлана Коваль{% endblock %}
{% block content %}
<div class="container">
  <img src="{{ url_for('static', filename='image/face-circle_200x200.png') }}" alt="Фото">
  <h1>Світлана Коваль</h1>
  <h4>Бухгалтер</h4>
  <p><strong>м.Київ</strong></p>
  <p><strong>Телефон:</strong><br>068 435 4436</p>
  <a href="{{ url_for('skills') }}">Переглянути навички</a>
  <a href="{{ url_for('experience') }}">Переглянути досвід</a> 
</div>     
{% endblock %}
